body {
    background-color: black;
    margin: 0;
}
.game{
    text-align: center;
    width: 100%;
    padding: 1em 0 1em 0;
}
.game p{
    color: white;
}
#canvas{
    margin: 0 auto;
    height: 80vh;
}
@font-face {
    font-family: "Pacman";
    src: url("../font/pac-font.ttf");
}

header{
    border-bottom: #FFDD1B 2px solid;
    background: #1F44C24D;
    text-align: center;
    padding-bottom: 1em;
}
h1 {
    font-weight: lighter;
    padding: 0.5em 0 0.5em 0;
    font-family: "Pacman";
    margin: 0;
}
header p{
    width: 70%;
    display: inline;
    color: #fff;
}
a {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
h1 a {
    color: #fff;
    font-family: "Pacman";
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
}
h1 a {
    color: #FFDD1B;
    font-family: "Pacman";
}
h1 a:hover {
    -webkit-animation: neon 1.5s ease-in-out infinite alternate;
    animation: neon3 1.5s ease-in-out infinite alternate;
}
h1 a:hover {
    color: #ffffff;
}
/*glow*/
@-webkit-keyframes neon3 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
    }
}
@keyframes neon1 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
    }
}

#tombol{
	background-color:white;
}

#div_canvas{
	display:inline-block;
}

#panel_kanan{
	display:inline-block;
	background-color:white;
}

#menu_list{
    list-style:none;
    /* font-family: "Pacman";
    src: url("../font/pac-font.ttf"); */
    font-family:arial;
}

#menu_list a{
    color:white;
}

#menu_list_li{
    margin-bottom:5px;
    /* display:inline-block; */
}

#menu_list_li:hover a{
    background-color:white;
    color:black;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color:white;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: white;
    color:black;
}
